
@{
    ViewBag.Title = "Kategori Ekle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Kategori Ekle</h2>
<form class="form-group" method="post">
    <div>
        <label>KATEGORİ ADI</label>
        <input type="text" class="form-control" name="KATEGORIAD" />
    </div>
    @if (User.IsInRole("True"))
    {
        <div style="margin-top:15px">
            <button class="btn btn-warning">@WebProje.Resources.HomeTexts.ekle</button>

        </div>
    }

</form>