
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<div class="carousel-item">
    <img src="..." alt="...">
    <div class="carousel-caption d-none d-md-block">
        <h5>DENEEMMEMEMEMEMEMMME</h5>
        <p>...</p>
    </div>
</div>